.confirm-body {
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  color: #828FA3;
  margin-bottom: 24px;
}

.btn-row {
  display: flex;
  gap: 16px;

  .btn { flex: 1; }

  @media (max-width: 480px) {
    flex-direction: column;
  }
}
